html {
  background: #f3f5f6;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  font-size: 17px
}

body {
  margin: 0;
  padding: 2em
}

@media (max-width: 30em) {
  body {
    padding: 0
  }
}

* {
  box-sizing: inherit
}

section {
  padding: 2em 2em 1.75em;
  width: 40em;
  margin: 0 auto 2em;
  max-width: 100%;
  background: #fff
}

@media (max-width: 30em) {
  section {
    margin-bottom: 1px
  }
}

h1, p {
  font-family: Georgia, serif
}

h1 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 1.17em;
  color: #333
}

h2 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .06em;
  color: #333;
  margin: 3em 0 .8em
}

p {
  font-size: 17px;
  line-height: 1.75;
  margin: 0 0 1.17em;
  color: #333
}

p a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -3px rgba(0, 0, 0, .15)
}

.blue h2, h2.blue {
  color: rgb(0, 98, 255)
}

.blue p a, p.blue a, p a.blue {
  box-shadow: inset 0 -3px rgba(0, 98, 255, .2)
}

.red h2, h2.red {
  color: rgb(255, 87, 34)
}

.red p a, p.red a, p a.red {
  box-shadow: inset 0 -3px rgba(255, 87, 34, .2)
}

* > *:first-child {
  margin-top: 0
}

* > *:last-child {
  margin-bottom: 0
}
